{% extends 'base.html' %} {% block title %}Contact Page Write your queries to contact us{% endblock %}

{% block style %}
<script src="https://www.google.com/recaptcha/api.js?render=put your site key here"></script>
 <script src="https://www.google.com/recaptcha/api.js?render=put your site key here"></script>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="../../">CISBLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li> -->
            <!-- <span class="sr-only">(current)</span> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="../../bloghome">Popblog</a>
            </li> -->
            <li class="nav-item">
                {% if request.session.person_id %} {% csrf_token %}
                <a class="nav-link" href="../blogpost">WrBlog</a> {% else %}
                <a class="nav-link" href="#">WrBlog</a> {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../contact">ContactUs</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="../mainpage">About</a>
            </li> -->
        </ul>
        <div class="mr-3">

            <form action="../../searching" method='post' class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" id="search" aria-label="Search" autocomplete="on">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <!-- {% if all1.votes_table == '1' %} profile
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="/">LogOut</a> {% endif %} {% if all1.votes_table != '1' %}
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signup">SignUp</a>
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signin">SignIn</a> {% endif %} -->
        {% if request.session.person_id %} {% csrf_token %}
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../../cis/{{all11.userslug}}">{{ request.session.person_fname }} </a>
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../logout">LogOut</a> {% else %}
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signup">SignUp</a>
        <a class="btn btn-outline-success my-2 my-sm-0 nav-link mx-2" href="../signin">SignIn</a> {% endif %}

    </div>
</nav>
{% endblock %}



{% block body %}

<div class="breadcrumb">
    <ol class="breadcrumb_1">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li aria-current="breadcrumb-item" class="breadcrumb-item active"><a href="../signup">SignUp</a></li>
        <li aria-current="#" class="breadcrumb-item active">Signin</li>
    </ol>
</div>













{% for message in messages%}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}




<div class="container text-center py-5 my-5 border-bottom border-primary">
    <h1>SignIn</h1>
</div>
<div class="container py-5 my-5 px-5">
    <form method="post">{% csrf_token %}

        <div class="form-group">
            <label for="email">Email address:</label>
            <input class="form-control" id="email" name="email" type="email" pattern=".+@hotmail\.com|.+@outlook\.com|.+@gmail\.com" value="{{email}}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input class="form-control" id="password" name="password" type="password" required>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">SignIn</button>
    </form>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity = 'sha256-9/aliU8dGd2tb6OSsuzixeV4y/faDqgFtohetphbbj0=' crossorigin= "anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity = 'sha256-9/aliU8dGd2tb6OSsuzixeV4y/faDqgFtohetphbbj0=' crossorigin= "anonymous"></script> 
  
<script>
  grecaptcha.ready(function() {
      grecaptcha.execute('put your site key here', {action: 'homepage'}).then(function(token) {
        // pass the token to the backend script for verification
      });
  });






 
  
   
        $(function() {
            $("#search").autocomplete({
                source: "{% url 'blog:autosuggest' %}",
            });
        });
</script>
{% endblock %}